<div class="panel panel-info">
	<my-header></my-header>

	<div>
		<div class="form-group">
			<label for="date" class="col-sm-2 control-label">From Date</label>
			<div class="col-xs-3">
				<input type="date" name="fromDate" ng-model="filter.fromDate"
					class="form-control">
			</div>
		</div>


		<div class="form-group">
			<label for="date" class="col-sm-2 control-label">To Date</label>
			<div class="col-xs-3">
				<input type="date" name="toDate" ng-model="filter.toDate"
					class="form-control">
			</div>
		</div>
		<br /> <br />
		<div class="form-group">
			<label for="time" class="col-sm-2 control-label">From Time :
			</label>
			<div class="col-xs-3">
				<input type="time" name="fromTime" ng-model="filter.fromTime"
					class="form-control">
			</div>
		</div>

		<div class="form-group">
			<label for="time" class="col-sm-2 control-label">To Time :</label>
			<div class="col-xs-3">
				<input type="time" name="toTime" ng-model="filter.toTime"
					class="form-control">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="button" class="btn btn-default"
					ng-click="filterData()">Filter</button>
			</div>
		</div>

	</div>

	<br /> <br /> <br />


	<div>
		<table class="table">
			<tr>
				<td>Name</td>
				<td>Calories</td>
				<td>Date</td>
				<td>Time</td>
			</tr>
			<tr ng-repeat="userActivity in userActivities">
				<td>{{userActivity.uaName}}</td>
				<td>{{userActivity.calories}}</td>
				<td><input type="date" name="date"
					ng-model="userActivity.startDate" class="form-control" readonly></td>
				<td><input type="time" name="time" ng-model="userActivity.time"
					class="form-control" readonly></td>
				<td><a href="#/updateUserActivities/{{userActivity.uaId}}">Update</a>
					&nbsp;&nbsp;
					<button type="button" class="btn btn-warning"
						ng-click="remove(userActivity.uaId)">Delete</button></td>
			</tr>
		</table>
	</div>

	<!-- Code to Add User Activity. -->


	<div class="panel-body form-horizontal" role="form">
		<h3>Add a new Activity</h3>
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Name</label>
			<div class="col-xs-3">
				<input type="text" name="name" ng-model="uaName"
					class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label for="calories" class="col-sm-2 control-label">Calories</label>
			<div class="col-xs-3">
				<input type="text" name="calories" ng-model="calories"
					class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="date" class="col-sm-2 control-label">Date</label>
			<div class="col-xs-3">
				<input type="date" name="date" ng-model="date" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="time" class="col-sm-2 control-label">Time</label>
			<div class="col-xs-3">
				<input type="time" name="time" ng-model="time" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="button" class="btn btn-default"
					ng-click="addUserActivity()">Submit</button>
			</div>
		</div>
	</div>
</div>